{% extends 'base.html.twig' %}

{% block title %}Hello World !{% endblock %}

{% block body %}
<video autoplay muted loop id="myVideo">
      <source src="https://file-examples-com.github.io/uploads/2017/04/file_example_MP4_1920_18MG.mp4" type="video/mp4" />
    </video>
    <h1 class="transparent text-">
      Hello <br />
      World
    </h1>
{% endblock %}
